<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Estoque</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Estoque de Produtos</h1>

    <div class="actions-container">
        <button class="add-btn">➕ Adicionar Produto</button>
    </div>

    <table>
        <tr>
            <th>COD</th>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço un</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Produto Venda</td>
            <td>Produto1</td>
            <td>10</td>
            <td>25.50</td>
            <td>
                <button class="edit-btn">✏️ Editar</button>
                <button class="remove-btn">🗑️ Remover</button>
            </td>
        </tr>
    </table>
</body>
</html>